<launch>
  <!-- Configure settings file. -->
  <arg name="knowrob_settings" default="$(find knowrob)/settings/neemhub.pl" />
  <env name="KNOWROB_SETTINGS" value="$(arg knowrob_settings)" />
  

  <param name="mongodb_uri" value="mongodb://neemReader:qEWRqc9UdN5TD7No7cjymUA8QEweNz@neem-3.informatik.uni-bremen.de:28015/neems" />
  
  <include file="$(find rosprolog)/launch/rosprolog.launch">
    <arg name="initial_package" default="knowrob" />
    <arg name="initial_goal" default="true" />
  </include>
</launch>
